<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<html>
<title>Login Game Buddy Finder</title>

<body>
  <div class="bg">
    <h1 class="text-center text-white pt-5">PlayWith</h1><br>

    <div class="col-md-4 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
      <div id="login">

        <form id="login-form" class="form" ng-submit="create()" [formGroup]="clanGroup">
          <h4 class="card-title mt-3 text-center">Create Clan</h4>
          <p class="text-center">Create clan in PlayWith</p>


          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Clan name" type="text" formControlName="clanname" required>
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
            </div>
            <select class="form-control" formControlName="clanregion" required>
              <option value="Africa">Africa</option>
              <option value="Asia">Asia</option>
              <option value="Central America">Central America</option>
              <option value="Eastern Europe">Eastern Europe</option>
              <option value="European Union">European Union</option>
              <option value="Middle East">Middle East</option>
              <option value="North America">North America</option>
              <option value="Oceania South">Oceania South</option>
              <option value="America">America</option>
              <option value="The Caribbean">The Caribbean</option>
            </select>
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-clipboard"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Description" type="text" formControlName="clandescription" required>
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-clipboard"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Picture URL" type="text" formControlName="clanpictureurl">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="create()"> Register  </button>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block" routerLink="/home" routerLinkActive="active"> Cancel  </button>
          </div>


        </form>
      </div>  
    </div>
  </div>
</body>
</html>
