<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<button *ngIf = "users.length > 0 && messages.length > 0" type="button" class="btn btn-secondary" (click)="generatePdf()">Generate PDF</button> 

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Account</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users">
            <tr>
              <td>{{ user.userName }}</td>
              <td><button type="button" class="btn btn-success" (click)="viewUser(user)">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">PlayWith Clan</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Clan</th>
                <th scope="col">Region</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let clan of clanView">
              <tr>
                <td>{{ clan.clanName }}</td>
                <td>{{ clan.clanRegion }}</td>
                <td><button type="button" class="btn btn-success" (click)="viewClan(clan)">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

