
.reviews {
  color: #555;
  font-weight: bold;
  margin: 10px auto 20px;
}

.notes {
  color: #999;
  font-size: 12px;
}

.media .media-object {
  max-width: 120px;
}

.media-body {
  position: relative;
}














