<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-header">
        <div class="card gedf-card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                  <img class="rounded-circle" width="45" src="https://images-platform.99static.com//fg0J0q4EZcumZ5FuwMY1z9ZZfLw=/431x0:1552x1116/fit-in/500x500/99designs-contests-attachments/114/114898/attachment_114898323" alt=""> <!--picture-->
                </div>
                <div class="ml-2">
                  <div class="h5 m-0">{{postService.CurrentPost.posterUser.userName}}</div>
                  <!--<div class="h7 text-muted"></div> should be full name-->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
            <p class="card-text">
              Hello there!!
            </p>
          </div>
          <form class="form-horizontal card-header" role="form" ng-submit="newComment()"  [formGroup]="commentGroup">
            <div class="form-group">
              <div class="col-sm-5">
                <textarea class="form-control" rows="2" style="width: 890px;" formControlName="comment"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <button class="btn btn-success btn-circle text-uppercase" (click)="newComment()" routerLink="/comment" routerLinkActive="active" type="submit" style="width: 890px;"><span class="glyphicon glyphicon-send"></span>&nbsp;Comment</button>
              </div>
            </div>
          </form>
        </div>
    </div>
      <div class="comment-tabs">
        <div class="tab-content">
          <div class="tab-pane active" id="comments-logout">
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <img class="media-object img-circle" src="https://coursereport-s3-production.global.ssl.fastly.net/rich/rich_files/rich_files/5036/s300/vanilla-coding-logo.png" alt="profile">
                </a>
                <div class="media-body" *ngFor="let com of comment">
                  <div class="well well-lg">
                    <h4 class="media-heading reviews">{{ com.postId }}</h4>
                    <p class="media-commnet">{{ com.content }}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
