/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.mainContainer {
  margin: auto;
  background: white;
  padding: 20px;
  //box-shadow: 10px 10px 5px #888;
  background-clip: padding-box;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.loadingImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 66px;
}