body {
  margin-top: 20px;
  background: #eee;
}
.email {
  padding: 20px 10px 15px 10px;
  font-size: 1em;
}

.email h2 {
  margin-top: 0;
  padding-bottom: 8px;
}

.email .nav.nav-pills > li.active > a,
.email .nav.nav-pills > li.active > a:hover {
  background-color: #f6f6f6;
  border-top-color: #3c8dbc;
}

.email .nav.nav-pills > li.active > a {
  font-weight: 600;
}
.email .nav.nav-pills.nav-stacked > li > a {
  color: #666;
  border-top: 0;
  border-left: 3px solid transparent;
  border-radius: 0px;
}


.email table {
  font-weight: 600;
}

.email table a {
  color: #666;
}

.email table tr.read > td {
  background-color: #f6f6f6;
}

.email table tr.read > td {
  font-weight: 400;
}

.email table tr td > i.fa {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

.email table tr td > i.fa-star {
  color: #f39c12;
}

.email table tr td > i.fa-bookmark {
  color: #e74c3c;
}

.email table tr > td.action {
  padding-left: 0px;
  padding-right: 2px;
}

.grid {
  position: relative;
  width: 100%;
  background: #fff;
  color: #666666;
  border-radius: 2px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  margin: auto;
  background: white;
  padding: 20px;
  //box-shadow: 10px 10px 5px #888;
  background-clip: padding-box;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.grid .grid-header:after {
  clear: both;
}

.grid .grid-header span {
  padding: 0 5px;
}

.grid .grid-header > .fa {
  padding: 5px 10px 0 0;
}


.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}

.grid .full {
  padding: 0 !important;
}

.grid .transparent {
  box-shadow: none !important;
  margin: 0px !important;
  border-radius: 0px !important;
}



