
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="grid email">
        <div class="grid-body">
          <div class="row">
            <div class="col-md-3">
              <h2 class="grid-title"><i class="fa fa-inbox"></i> INBOX</h2>
              <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal" routerLink="/sendmessage" routerLinkActive="active"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a>

              <hr>

              <div>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href=""><i class="fa fa-inbox"></i> Inbox </a></li>
                  <li><a href=""><i class="fa fa-mail-forward"></i> Sent</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="padding"></div>

                <div class="table-responsive">
                  <table class="table">
                    <tbody *ngFor="let message of messages">
                      <tr>
                        <td class="name"><a (click)="viewMessage(message)">{{message.senderUsername}}</a></td>
                        <td class="subject"><a (click)="viewMessage(message)">{{message.subject}}</a></td>
                        <td class="time">{{message.sendTime}}</td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     </div>
  </div>
</div>
