<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
<title>Login Game Buddy Finder</title>

<body>
  <div class="bg">
    <div class="col-md-4 offset-md-3 mainContainer" style="top: 80px;">
      <img src="../../assets/logo-black.png" alt="Logo" width="350" class="center"> <br>
      <br>
      <div id="login">

        <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                <form id="login-form" class="form" ng-submit="login()" [formGroup]="loginGroup">
                  <h3 class="text-center text-dark">Login</h3>
                  <div class="form-group text-center">
                    <label for="username" class="text-dark">Username:</label><br>
                    <input type="text" name="username" id="username" class="form-control" style="border-radius: 50px;" formControlName="username">
                  </div>
                  <div class="form-group text-center">
                    <label for="password" class="text-dark">Password:</label><br>
                    <input type="password" name="password" id="password" class="form-control" style="border-radius: 50px;" formControlName="password">
                  </div>
                  <div class="form-group text-center ">
                    <input type="submit" name="submit" class="btn btn-primary" value="Login" style="border-radius: 50px;" (click)="login()">
                  </div>
                  

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-between">
      <div>
         <a>Don't have an Account? </a><a routerLink="/register" routerLinkActive="active" >Register</a>
      </div>
      <div>
        <a routerLink="/forgotpassword" routerLinkActive="active">Forgot Password?</a>
      </div>
 </div>
    </div>
  </div>
</body>
</html>
