
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../../assets/bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
}
