<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<html>
<title>Login Game Buddy Finder</title>

<body>
  <div class="bg">
    <br>
    <br>
    <br>
    <div class="col-md-4 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
      <div id="login">

        <form id="login-form" class="form" ng-submit="register()" [formGroup]="resetPasswordGroup">
          <img src="../../assets/logo-black.png" alt="Logo" width="350" class="center">
                  <h4 class="card-title mt-3 text-center">Password Reset</h4>
                  <h5>Basic Information</h5>

                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Username" type="text" formControlName="username" required>
                  </div>
                  <hr>
                  <h5>Secret Question</h5>
                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                    </div>
                    <select class="form-control" formControlName="secretQuestion" required>
                      <option selected="" disabled>Select Question</option>
                      <option value="Whoisyourfavouritedog">Who is your favourite dog?</option>
                      <option value="Whoisyourfavouritecat">Who is your favourite cat?</option>
                      <option value="Whatisyourfavouritegame">What is your favourite game?</option>

                    </select>
                  </div>

                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="..." type="text" formControlName="secretAnswer" required>
                  </div>

                  <hr>
                  <h5>New Password</h5>

                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Create password" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{10,}$" formControlName="password" required>
                  </div>

                  <div class="form-group input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repeat password" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{10,}$" formControlName="repassword" required>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" (click)="reset()"> Reset  </button>
                  </div>


                </form>
      </div>

      <div class="d-flex justify-content-between">
        <div>
          <a>Have an account? </a><a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</body>
</html>
