html, body {
  height: 100%;
}

body {
  background-color: white;
  background-image: url("../../assets/loginpage/loginbg.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
