<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="bg">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


  <form id="message-form" class="form">
    <h1 style="color:white">PlayWith</h1>
    <div class="col-md-4 offset-md-3 mainContainer" style="top: 80px; margin-left: auto; margin-right: auto;" >
      <button type="submit" class="btn btn-dark" routerLink="/inbox"><i class="fa fa-inbox"></i>&nbsp;Back</button>
      <button type="submit" class="btn btn-danger float-right" routerLink="/sendmessage"><i class="fa fa-edit"></i>&nbsp;Reply </button><br /><br />
      <h3>{{ message ? message.subject : ""}}</h3>
      <br />

    


      <h5>From: {{user?.userName}} <span style="color:grey">({{profile?.email}})</span><span class="float-right">{{ message ? message.sendTime : ""}}</span></h5>

      <div style="width: auto; padding: 10px; border: 1px solid black; margin: 1px;">{{ message ? message.content : ""}}</div>
    </div>
  </form>

</div>
