<div *ngIf="friendRequests != null && friendRequests.length == 0" class="center">
  <h2 style="text-align: center;">No Friend Requests :(</h2>
</div>

<body>
  <div *ngIf="friendRequests != null && friendRequests.length > 0" class="col-md-3 offset-md-3 mainContainer"
    style="top: 80px;">
    <div class="row justify-content-center">
      <div class="">
        <table class="table table-responsive">
          <thead class="">
            <tr>
              <th scope="col">Friend Request List</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friendRequest of friendRequests">
              <td>{{friendRequest.senderUsername}}</td>
              <td><button type="button" class="btn btn-success"
                  (click)="accept(friendRequest.friendRequestId)">Accept</button></td>
              <td><button type="button" class="btn btn-danger"
                  (click)="decline(friendRequest.friendRequestId)">Decline</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br><br>
</body>