
<body>
  <h1>Friend Request</h1>
  <div class="col-md-6 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
    <div class="row justify-content-center">
      <div class="">
        <table class="table table-responsive">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Friend Request List</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friendRequest of friendRequests">
              <td>{{friendRequest.senderId}}</td>
              <td><button type="button" class="btn btn-success">Accept</button></td>
              <td><button type="button" class="btn btn-danger">Decline</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br><br>
</body>
