
<body>
  <div class="col-md-3 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
    <div class="row justify-content-center">
      <div class="">
        <table class="table table-responsive">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Clan Name</th>
              <th scope="col">Region</th>
              <th scope="col">View Clan</th>
            </tr>
          </thead>
          <tbody *ngFor="let clan of clanView">
            <tr>
              <td>{{ clan.clanName }}</td>
              <td>{{ clan.clanRegion }}</td>
              <td><button type="button" class="btn btn-success" (click)="viewClan(clan)">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-success" text-align="center" routerLink="/createclan" routerLinkActive="active">Create Clan</button>
  </div>
  <br><br><br>
</body>
