body {
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: pink;
}
h1{
    text-align: center;
}
