  <div class="bg">
    <div class="col-md-7 offset-md-8" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
      <h1>Edit Profile</h1>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="text-center">
            <img src="//placehold.it/100" class="img-circle" alt="avatar">
            <br><br>
            <input type="text" class="form-control" placeholder="Image URL">
          </div>
        </div>
        <div class="col-md-9 personal-info">
          <h3>Personal info</h3>

          <form class="form-horizontal" role="form" id="edit-form" class="form" ng-submit="edit()" [formGroup]="editGroup">
            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="" formControlName="firstname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="" formControlName="lastname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Username:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" value="" formControlName="username">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Phone Number:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" value="" formControlName="phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Region:</label>
              <div class="col-md-8">
                <select class="form-control" formControlName="region" required>
                  <option value="Africa">Africa</option>
                  <option value="Asia">Asia</option>
                  <option value="Central America">Central America</option>
                  <option value="Eastern Europe">Eastern Europe</option>
                  <option value="European Union">European Union</option>
                  <option value="Middle East">Middle East</option>
                  <option value="North America">North America</option>
                  <option value="Oceania South">Oceania South</option>
                  <option value="America">America</option>
                  <option value="The Caribbean">The Caribbean</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Game:</label>
              <div class="col-md-8">
                <select class="form-control" formControlName="game" required>
                  <option value="CS">Counter Strike:Global Offensive</option>
                  <option value="dota">Dota 2</option>
                  <option value="cod">Call of Duty:Modern Warfare</option>
                  <option value="smite">SMITE</option>
                  <option value="smite">Star Citizen</option>
                  <option value="smite">Elder Scrolls: Online</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" value="" formControlName="password">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Confirm password:</label>
              <div class="col-md-8">
                <input class="form-control" type="password" value="" formControlName="repassword">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="button" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" value="Cancel">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
  </div>
  <hr>
