  <div class="bg">
    <div class="col-md-7 offset-md-8" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
      <h1>Edit Profile</h1>
      <hr>
      <div class="row">

        <div class="col-md-3">
          <label class="col-lg-3 control-label">Picture:</label>
          <img src="{{Profile?.profilePicUrl}}" class="img-circle">
        </div>
        <div class="col-md-9 personal-info">
          <h3>Personal info</h3>

          <form class="form-horizontal" role="form" id="edit-form" class="form" [formGroup]="editGroup">
            <label class="col-lg-3 control-label">Image URL:</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" placeholder="Image URL" value="{{Profile?.profilePicUrl}}" formControlName="profilepicurl">
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="{{Profile?.firstName}}" formControlName="firstname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="{{Profile?.lastName}}" formControlName="lastname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" value="{{Profile?.email}}" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Username:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" value="{{User?.userName}}" formControlName="username">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Phone Number:</label>
              <div class="col-md-8">
                <input class="form-control" type="text" value="{{User?.phoneNumber}}" formControlName="phone">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Region:</label>
              <div class="col-md-8">
                <select class="form-control" formControlName="region" required value="{{Profile?.region}}">
                  <option value="Africa">Africa</option>
                  <option value="Asia">Asia</option>
                  <option value="Central America">Central America</option>
                  <option value="Eastern Europe">Eastern Europe</option>
                  <option value="European Union">European Union</option>
                  <option value="Middle East">Middle East</option>
                  <option value="North America">North America</option>
                  <option value="Oceania South">Oceania South</option>
                  <option value="America">America</option>
                  <option value="The Caribbean">The Caribbean</option>
                </select>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-3 control-label">Likes To Play:</label>
              <div class="col-md-8">
                <h6 style="display:inline" *ngFor="let interest of interests">&nbsp;{{interest.title}} <button class="btn btn-danger float-right" (click)="deleteInterest(interest.interestId)"> Delete  </button><hr/></h6>
                <br>
                <h6>Add Interest:</h6>
                <input class="form-control" type="text" formControlName="interest"><br>
                <button class="btn btn-secondary btn-block" (click)="addInterest()"> Add  </button><br><br>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="edit()"> Confirm  </button>
                </div>
                <span></span>
                <div class="form-group">
                  <button class="btn btn-primary btn-block" routerLink="/profile" routerLinkActive="active"> Cancel  </button>
                </div>
              </div>
            </div>
        </form>
        </div>
      </div>
    </div>
    <br>
  </div>
  <hr>
