.bg {
  background-image: url("../../assets/loginpage/loginbg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
}
img {
  border-radius: 100%;
  height: 150px;
  length: 150px;
}
