
<body>
  <h1>Login Attempts</h1>
  <div class="col-md-6 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
    <div class="row justify-content-center">
      <div class="">
        <table class="table table-responsive">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Successful?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let loginAttempt of loginAttempts">
              <td>{{loginAttempt.attemptTimeUtc}}</td>
              <td>{{loginAttempt.successful}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <br><br><br>
</body>
