<div class="bg">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


  <form id="message-form" class="form">
    <h1 style="color:white">PlayWith</h1>
    <div class="col-md-5 offset-md-3" style="margin: auto; background: white; padding: 20px; box-shadow: 10px 10px 5px #888">
      <div class="text-center">
        <img src="{{clan.clanProfilePicUrl}}">
        <h1>{{clan.clanName}}</h1>

        <br /><br /><br />
        <h3>Leader</h3>
        <div id="box">{{clan.owner}}</div>
        <br />
        <h3>Description</h3>
        <div id="box">{{ clan ? clan.clanDescription : ""}}</div>
        <br />
        <h3>Members: {{members.length}}</h3>
        <div id="box">

          <div *ngFor="let member of members">
            {{member.userName}}
          </div>

          <!--<table class="table table-responsive">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Username</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members">
                <td>{{member.userName}}</td>
              </tr>
            </tbody>
          </table>-->

        </div>
        <br />
      </div>
      <div class="col text-center" *ngIf="!isMember">
        <button type="button" class="btn btn-primary " (click)="join(clan.clanId)" >Join</button>
      </div>
      <div class="col text-center" *ngIf="isOwner">
        <button type="button" class="btn btn-danger " (click)="deleteClan(clan.clanId)" >Delete</button>
      </div>
      <div class="col text-center">
        <button type="button" class="btn btn-secondary" routerLink="/chat" routerLinkActive="active">Chat</button>
      </div>
    </div>
  </form>

</div>
