.bg {
  background-image: url("../../assets/bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
}
img {
  border-radius: 50%;
  height: 100px;
  length: 100px;
}
#box {
  width: auto;
  padding: 10px;
  border: 1px solid black;
  margin: 1px;
  align-items: center;
}

* {
	box-sizing: border-box;
}
