<body>

  <div class="bg">
    <div class="col-md-8 offset-md-3 mainContainer" style="top: 80px; margin-left: auto; margin-right: auto;">
      <div class="container-fluid well span6">
        <div class="row-fluid">
          <div class="span2" *ngIf="profile">

            <div class="row">
              <div class="col-md-6 text-center">
                <img src="{{profile.profilePicUrl}}">
                <hr />
                <h3 class="text-center">{{ user ? user.userName : ""}}</h3>
              </div>
              <div class="col-md-6">
                <label>Likes To Play: </label><h6 style="display:inline" *ngFor="let interest of interests">&nbsp;{{interest.title + ", "}}</h6>
                <hr />
                <label>First Name: </label><h6 style="display:inline">&nbsp;{{ profile ? profile.firstName : ""}}</h6>
                <hr />
                <label>Last Name: </label><h6 style="display:inline">&nbsp;{{profile ? profile.lastName : ""}}</h6>
                <hr />
                <label>Email: </label><h6 style="display:inline">&nbsp;{{profile ? profile.email : ""}}</h6>
                <hr />
                <label>Region: </label><h6 style="display:inline">&nbsp;{{profile ? profile.region : ""}}</h6>
                <hr />
                <label>Phone Number: </label><h6 style="display:inline">&nbsp;{{profile ? profile.phoneNumber : ""}}</h6>
                <hr />

                <div *ngIf="usersService.CurrentUser.userId != user.userId && !isfriend">
                <button type="button" class="btn btn-primary col text-center" (click)="addFriend(user.userId)">Add Friend</button>
                </div>

                <div *ngIf="isfriend">
                  <button type="button" class="btn btn-secondary col text-center" (click)="removeFriend(this.usersService.UserId, user.userId, user.userName)">Remove Friend</button>
                  </div>

                <div *ngIf="usersService.CurrentUser.userType == 1 && user.userType == 0">
                  <button type="button" class="btn btn-danger col text-center" (click)="deleteUser(user.userId)" >Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








</body>
