<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="bg">
  <div class="col-md-8 offset-md-3 mainContainer" style="top: 80px;">
    <div class="container-fluid well span6">
      <div class="row-fluid">
        <div class="span2" *ngIf="profile">

          <div class="text-center">
            <img src="{{profile.profilePicUrl}}">
            <h3>{{ user ? user.userName : ""}}</h3>
          </div>
          <hr>

          <div class="span8">
            <label>Likes To Play: </label><h6 style="display:inline" *ngFor="let interest of interests">&nbsp;{{interest.title + ", "}}</h6>
            <br>
            <br>
            <label>First Name: </label><h6 style="display:inline">&nbsp;{{ profile ? profile.firstName : ""}}</h6>
            <br>
            <br>
            <label>Last Name: </label><h6 style="display:inline">&nbsp;{{profile ? profile.lastName : ""}}</h6>
            <br>
            <br>
            <label>Email: </label><h6 style="display:inline">&nbsp;{{profile ? profile.email : ""}}</h6>
            <br>
            <br>
            <label>Region: </label><h6 style="display:inline">&nbsp;{{profile ? profile.region : ""}}</h6>
            <br>
            <br>
            <label>Phone Number: </label><h6 style="display:inline">&nbsp;{{profile ? profile.phoneNumber : ""}}</h6>
            <br>
            <br>
            <button type="button" class="btn btn-warning float-left" routerLink="/friendrequest" routerLinkActive="active">Friend Requests</button>
            <button type="button" class="btn btn-secondary float-right" routerLink="/editprofile">Edit Profile</button>
          </div>
          <div>
            <br><br><br>
            <h2>Friends</h2>
            <hr>
            <tbody>
              <tr *ngFor="let friend of friends">
                <a routerLink="" (click)="viewFriend(friend)">{{ friend.userName }}<br><br></a>
              </tr>
            </tbody> 
            <br>
            <h2>Clans</h2>
            <hr>
            <tbody>
              <tr *ngFor="let clan of clanView">
                <a routerLink="" (click)="viewClan(clan)">{{ clan.clanName }}<br><br></a>
              </tr>
            </tbody>
          </div><br>
          <button type="button" class="btn btn-info" routerLink="/loginattempts" routerLinkActive="active">Login Attempts</button>
        </div>
      </div>
    </div>
  </div>
</div>
