img {
  border-radius: 50%;
  height: 100px;
  length: 100px;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../../assets/bg.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
}

label {
  font-weight: bold;
}

.container{
  height:50px;
  cursor: pointer;
  margin-bottom: 40px;
}

.delete{
  display: none;
  color: black;
  background-color: crimson;
  border-radius: 5px;
  margin-left: 50px;
}

.container:hover .delete {
  display: inline;
}
